
//* VARIABLE *//
@import 'variable';

//* FONT *//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Quicksand:wght@400;500;600&display=swap');


//* RESET CSS *//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
ul {
    list-style-type: none;
}
ul a {
    color: $section-color;
    font-weight: 700;
}
a{
    text-decoration:none;
}
p{
    color: $font-color;
}
//* MAIN-LAYOUT  *//
.l-main {
   padding-top: 6rem;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFCFC;
    &-color{
        background-color: #fff1f1;
    }
}
.container {
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
    &-footer{
        padding: 8rem 3rem;

    }
}

//* HEADER  *//
@import 'header';
//* BUTTON STYLE *//
@import 'button';
//* HOME AND OVER VIEWS SECTIONS*//
@import 'homelayout';
//* HEADING SECTIONS *//
@import 'heading';
//* CONTAGION SECTION *//
@import 'contagion';
//* Prevention *//
@import 'prevention';
//* FOOTER *//
@import 'footer';
//* SLIDE AND INTRO ANIMATIONS *//
@import 'slide';