@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Quicksand:wght@400;500;600&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  counter-reset: title;
}

ul {
  list-style-type: none;
}

ul a {
  color: #035755;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  color: #4B4F51;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main {
  padding-top: 7rem;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFCFC;
}

.wrapper-color {
  background-color: #fff1f1;
  height: 100vh;
}

.container {
  max-width: 1450px;
  width: calc(100% - 1rem);
  padding: 0 15px;
  margin: 0 auto;
}

.container-footer {
  padding: 8rem 3rem;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header-item {
  display: inline-block;
  padding: 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .header-item--block {
    display: block;
    margin: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    width: 70%;
    margin: 0 auto;
    padding: 45px 0px;
    text-align: center;
    background-color: #FFE1E1;
    opacity: 1.6;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
  }
}

.header a {
  -webkit-transition: 0.3 ease-in;
  transition: 0.3 ease-in;
}

.header a:hover {
  color: #FB4C47;
}

.scroll-header {
  background-color: #FFE1E1;
  opacity: 1.6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.bx {
  font-size: 35px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .bx {
    font-size: 30px;
  }
}

.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  left: 45%;
  bottom: -.15rem;
  width: 5px;
  height: 5px;
  background-color: #FB4C47;
  border-radius: 50%;
}

@media screen and (max-width: 375px) {
  .header-logo {
    width: 70%;
  }
}

.button {
  padding: 15px 50px;
  background-color: #FFFFFF;
  border-radius: 46px;
}

.button-outline {
  border: 1px solid #FB4C47;
  color: #FB4C47;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-outline:hover {
  background-color: #FB4C47;
  color: #ffffff;
}

.button-active {
  padding: 15px 40px;
  background-color: #FB4C47;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.button-opacity {
  display: inline-block;
  color: #FB4C47;
  padding: 20px 50px;
  position: relative;
  font-weight: 600;
}

.button-opacity::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0.25;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 10px 20px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

@media screen and (max-width: 375px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.content-left {
  width: 45%;
}

@media screen and (max-width: 375px) {
  .content-left {
    width: 100%;
    padding-top: 2rem;
  }
}

.content-title {
  color: #FB4C47;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .content-title {
    font-size: .8rem;
    height: 20px;
  }
}

.content-titletwo {
  color: #035755;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .content-titletwo {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .content-titletwo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .content-titletwo {
    font-size: 1.5rem;
  }
}

.content-titletwo--animation {
  position: relative;
  overflow: hidden;
  height: 120px;
}

@media screen and (max-width: 1024px) {
  .content-titletwo--animation {
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  .content-titletwo--animation {
    height: 60px;
  }
}

.content-desc {
  padding-top: 25px;
  font-size: 16px;
  padding-bottom: 25px;
  line-height: 1.5;
  font-weight: 700;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .content-desc {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .content-desc {
    padding-top: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .content-desc {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.3;
  }
}

.content-desc--animation {
  position: relative;
  overflow: hidden;
  height: 100px;
}

@media screen and (max-width: 375px) {
  .content-desc--animation {
    height: 75px;
  }
}

.content-img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content-img {
    width: 100%;
  }
}

.content-right {
  width: 55%;
}

@media screen and (max-width: 375px) {
  .content-right {
    width: 100%;
  }
}

.content-right--animation {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.content-image {
  width: 60%;
  padding-right: 4rem;
}

@media screen and (max-width: 375px) {
  .content-image {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
  }
}

.content-heading {
  text-align: center;
}

.content-main {
  width: 50%;
  margin: 0 auto;
}

.content-home {
  margin-top: 40px;
}

.content-hide {
  position: absolute;
}

.content-button--animation {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.heading {
  text-align: center;
}

.heading-title {
  font-size: 25px;
  font-weight: bold;
  color: #FB4C47;
  line-height: 1.3;
}

.heading-titletwo {
  font-size: 35px;
  font-weight: bold;
  color: #035755;
  margin-bottom: 1.2rem;
}

.heading-desc {
  line-height: 1.3;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.heading-img {
  padding: 2rem 3rem;
  width: 80%;
}

@media screen and (max-width: 375px) {
  .heading-title {
    font-size: 20px;
    line-height: normal;
  }
  .heading-titletwo {
    font-size: 30px;
  }
  .heading-desc {
    font-size: 15px;
  }
  .heading-img {
    width: 100%;
  }
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 25rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0 20px;
  padding: 3rem;
}

.box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  padding: 4rem .75rem;
  border-radius: 15px;
  margin-bottom: 8rem;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.box-text {
  text-align: center;
  font-weight: 700;
}

.box-img {
  padding-bottom: 1rem;
  height: 250px;
}

.box-title {
  font-size: 25px;
  font-weight: bold;
  color: #035755;
  margin-bottom: 1rem;
}

.box-desc {
  font-size: 21px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .box-items {
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 375px) {
  .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 20rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 .5rem;
    grid-gap: 0 10px;
  }
  .box-items {
    padding: 1rem .5rem;
  }
  .box-img {
    height: 200px;
  }
  .box-title {
    font-size: 23px;
  }
  .box-desc {
    font-size: 18px;
    line-height: normal;
  }
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
  width: 100%;
}

.todo:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.todo:nth-child(odd) .todo-text {
  padding-left: 8rem;
}

.todo:nth-child(even) .todo-text {
  padding-right: 6rem;
}

.todo-text, .todo-img {
  width: 50%;
}

.todo-title {
  color: #035755;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 1.2rem;
  position: relative;
}

.todo-title::before {
  counter-increment: title;
  content: counter(title);
  color: #FB4C47;
  font-weight: bold;
  display: block;
  font-size: 35px;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #FFE1E1;
  border-radius: 4rem;
  text-align: center;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.todo-desc {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .todo {
    width: 100%;
  }
  .todo-text, .todo-img {
    max-width: 100%;
    height: auto;
  }
  .todo:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .todo:nth-child(odd) .todo-text {
    padding-left: 2.2rem;
  }
  .todo:nth-child(even) .todo-text {
    padding-right: 1.5rem;
  }
  .todo-desc {
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .todo-desc {
    font-size: 15px;
  }
  .todo-title {
    font-size: 25px;
  }
  .todo-title::before {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 32px;
  }
}

@media screen and (max-width: 375px) {
  .todo {
    width: 100%;
  }
  .todo:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0;
  }
  .todo:nth-child(odd) .todo-img {
    width: 100%;
    padding-left: .75rem;
  }
  .todo:nth-child(odd) .todo-text {
    width: 100%;
  }
  .todo:nth-child(even) {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0;
  }
  .todo:nth-child(even) .todo-img {
    width: 100%;
  }
  .todo:nth-child(even) .todo-text {
    width: 90%;
    padding-left: 1rem;
  }
  .todo-title {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .todo-title::before {
    font-size: 20px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 3rem;
  }
  .todo-desc {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1.2rem;
  }
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.question-text {
  margin-bottom: 1.5rem;
  text-align: center;
}

.question-title {
  font-weight: bold;
  color: #035755;
  font-size: 35px;
}

.question-send {
  border-radius: 30px;
  outline: none;
  background-color: #ffffff;
  padding: .5rem 0;
  width: 50%;
  padding: .5rem 1rem;
}

.question-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-input {
  outline: none;
  border: none;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.footer-menu {
  width: 100%;
  margin-left: 16rem;
}

@media screen and (max-width: 768px) {
  .footer-menu {
    margin-left: 2rem;
    font-size: 13px;
  }
}

.footer-coppy {
  color: #035755;
  text-align: center;
  font-weight: 700;
  margin-top: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .footer-menu {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .question-title {
    font-size: 1.5rem;
  }
  .question-send {
    width: 100%;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .footer-coppy {
    font-size: .75rem;
  }
}

.intro {
  background-color: #FFFCFC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-text {
  color: #035755;
  font-size: 3rem;
  text-align: center;
}

.intro-highlight {
  color: #FB4C47;
  font-weight: bold;
}

.intro-hide {
  background: #FFFCFC;
  overflow: hidden;
}

.intro-span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.intro p {
  color: #035755;
  font-size: 3.3rem;
}

.intro a {
  color: #035755;
  font-size: 1.5rem;
}

.slider {
  background-color: #fff1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (max-width: 375px) {
  .intro {
    width: 100%;
    padding: 3rem;
  }
  .intro-text {
    font-size: 1.2rem;
  }
  .intro p {
    font-size: 2.3rem;
  }
  .intro a {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */