@import 'mediaquery';

//* VARIABLE *//
@import 'variable';

//* FONT *//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Quicksand:wght@400;500;600&display=swap');


//* RESET CSS *//
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    counter-reset:title;
}
ul {
    list-style-type: none;
}
ul a {
    color: $section-color;
    font-weight: 700;
}
a{
    text-decoration:none;
}
p{
    color: $font-color;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
//* MAIN-LAYOUT  *//
.l-main {
   padding-top: 7rem;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFCFC;
    &-color{
        background-color: #fff1f1;
        height: 100vh;
    }
}
.container {
    // max-width: 1450px;
    max-width: 1450px;
    width: calc(100% - 1rem);
    padding: 0 15px;
    margin: 0 auto;
    &-footer{
        padding: 8rem 3rem;
    }
}
//* HEADER  *//
@import 'header';
//* BUTTON STYLE *//
@import 'button';
//* HOME AND OVER VIEWS SECTIONS*//
@import 'homelayout';
//* HEADING SECTIONS *//
@import 'heading';
//* CONTAGION SECTION *//
@import 'contagion';
//* Prevention *//
@import 'prevention';
//* FOOTER *//
@import 'footer';
//* SLIDE AND INTRO ANIMATIONS *//
@import 'slide';